html {
  font-family: sans-serif;
  font-size: max(3ch, 3vmax + 5vmin);
  line-height: 1.382;
}

body {
  margin: auto;
  overflow-wrap: anywhere;
}

:focus {
  outline: thick double;
}

article {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

h1, p {
  font-size: 1.236em;
  font-weight: unset;
  margin: auto;
}

ul {
  contain: layout;
  font-size: 1.618em;
  list-style: circle;
  font-family: sans-serif;
  margin: auto;
}

@media (orientation: portrait) {
  ul {
    line-height: 1.618;
    writing-mode: sideways-rl;
  }
}

@media (color) {
  li {
    text-shadow: 1vw -5vh 0 orange, 3vw -1vh 0 orange;
  }

  :root {
    background: violet;
    background-image: conic-gradient(plum, orange, hotpink, salmon, violet, plum);
    color: black;
  }

  :any-link {
    color: inherit;
  }

  ::selection {
    background: darkviolet;
    color: powderblue;
  }
}